<div class="page page-invoice">
    <div class="invoice-wrapper">
        <section class="invoice-container" id="invoice">
            <div class="invoice-inner">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="bg-dark">
                        <th class="text-center">#</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Subtitle</th>
                        <th class="text-center">Teacher</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">SaleOf</th>
                        <th class="text-center">DayLearn</th>
                        <th class="text-center">DateStart</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>nodejs</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center"><a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-plus-sign"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a></th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>nodejs</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center"><a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-plus-sign"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a></th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>nodejs</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center"><a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-plus-sign"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a> <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a></th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>