<div class="page page-invoice">
    <div>
        <div class="addChild"><a ui-sref="addChildCourse"><button type="button" class="btn btn-primary">Add New</button></a></div>
        <section>
            <div class="invoice-inner">

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="bg-dark">
                        <th class="text-center">#</th>
                        <th class="text-center">Course</th>
                        <th class="text-center"> Download Slide</th>
                        <th class="text-center">Download Practices</th>
                        <th class="text-center">Teacher</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center">
                            <a ui-sref="editchildcourse" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a>
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center">
                            <a ui-sref="editchildcourse" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a>
                        </th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">35</td>
                        <td class="text-center">{{dataInvoice.detail.discounts}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <td class="text-center">{{dataInvoice.detail.total}}</td>
                        <th class="text-center">
                            <a ui-sref="editchildcourse" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="javascript:;" class="btn-icon bg-success"><i class="glyphicon glyphicon-trash"></i></a>
                        </th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>