<div class="col-md-6">
    <div class="panel panel-profile">
        <div class="panel-heading bg-success clearfix">
            <a href="" class="pull-left profile">
                <img alt="" src="{{datas.image}}" class="img-circle img80_80">
            </a>
            <h3>{{datas.title}}{{searchText}}</h3>
            <p>{{datas.subtitle}}</p>
        </div>
        <section class="table-flip-scroll">
            <table class="table table-bordered datas">
              <tbody>
                <tr>
                  <td>Kết quả sau khóa học</td>
                  <td>{{datas.desc}}</td>
                </tr>
                <tr>
                  <td>Nội dung Chính</td>
                  <td>{{datas.summary}}</td>
                </tr>
                <tr>
                  <td>Người hướng dẫn</td>
                  <td>{{datas.teacher}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Số giờ học</td>
                    <td>{{datas.timeLearn}} giờ</td>
                </tr>
                <tr>
                    <td>Buổi học: </td>
                    <td>{{datas.dayLearn}}</td>
                </tr>
                <tr>
                  <td>Lệ phí: </td>
                  <td>{{datas.tutionFee}} VNĐ</td>
                </tr>
                <tr>
                    <td>Khuyến mãi: </td>
                    <td>{{datas.saleOff}} %</td>
                </tr>
                <tr>
                  <td>Khai giảng: </td>
                  <td>{{datas.startDate | date:'dd/M/yyyy'}}</td>
                </tr>
                <tr>
                    <td>giờ học: </td>
                    <td>{{datas.startTime}}</td>
                </tr>
                <tr>
                  <td>Lưu ý</td>
                  <td>{{datas.note}}</td>
                </tr>
                </tbody>
                <tbody>
                <!-- <tr>
                    <td colspan="2">
                        <a ui-sref="app.session({datasId: '{{datas.id}}' })"><button class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Xem nội dung</button></a>
                        <a ui-sref="register" ng-show="isLogined()"><button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Đăng ký</button></a>
                    </td>
                </tr> -->
              </tbody>
            </table>
        </section>
    </div>
</div>