<div class="row">
    <div class="col-md-6">

        <section class="panel panel-box">
            <div class="panel-top bg-primary">
                <div class="text-center">
                    <h3>User : {{datas.fullName}}</h3>
                </div>
                <div class="divider divider-lg"></div>
                <div class="divider divider-lg"></div>
            </div>
            <div class="panel-img bg-primary">
                <img alt="" src="images/g1.jpg" class="img-circle">
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <a href="https://www.facebook.com/" style="color: #3c5a99">
                           <span class="icon fa fa-3x fa-facebook-square"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" style="color: #0084b4;">
                        <span class="icon fa fa-3x fa-twitter-square"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/" style="color: #d95433">
                        <span class="icon fa fa-3x fa-google-plus-square"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="icon glyphicon glyphicon-user"></span>
                                <label>Họ tên:</label>
                                {{datas.fullName}}
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-th"></span>
                                <label>Ngày sinh:</label>
                                {{datas.birthday | date:'dd/M/yyyy'}}
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-heart"></span>
                                <label>Giới tính:</label>
                                {{datas.sex}}
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-earphone"></span>
                                <label>Điện thoại:</label>
                                {{datas.phone}}
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-envelope"></span>
                                <label>Email:</label>
                                {{datas.email}}
                            </li>
                            <li>
                                <span class="icon glyphicon glyphicon-home"></span>
                                <label>Địa chỉ:</label>
                                {{datas.addr}}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>