<div class="page-signin">
    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <form name="change_password" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error' : change_password.email.$invalid && !change_password.email.$pristine}">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input type="email" name="email"
                                   class="form-control input-lg input-round text-center"
                                   placeholder="Email"
                                   ng-model="user.email" required />
                        </div>
                        <div class="form-group" ng-class="{'has-error' : change_password.newPassword.$invalid && !change_password.newPassword.$pristine}">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input type="password" name="newPassword"
                                   class="form-control input-lg input-round text-center"
                                   placeholder="New password"
                                   ng-model="user.password" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-round btn-block text-center"  ng-click="changePass(user)" ng-disabled="change_password.$invalid">Đổi mật khẩu</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Message</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>