<div class="page-signin">
    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <form name="change_password" class="form-horizontal" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error' : change_password.oldPassword.$invalid && !change_password.oldPassword.$pristine}">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input type="password" name="oldPassword"
                                   class="form-control input-lg input-round text-center"
                                   placeholder="Old password"
                                   ng-model="user.oldPassword" required />
                        </div>
                        <div class="form-group" ng-class="{'has-error' : change_password.newPassword.$invalid && !change_password.newPassword.$pristine}">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            <input type="password" name="newPassword"
                                   class="form-control input-lg input-round text-center"
                                   placeholder="New password"
                                   ng-model="user.newPassword" required />
                        </div>
                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-primary btn-lg btn-round btn-block text-center" ng-click="change_password(user)" ng-disabled="change_password.$invalid">Đổi mật khẩu</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>