<div class="page-forgot">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{main.brand}}</a>
        </section>
    </div>

    <div class="info text-center">
        <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
    </div>

    <div class="form-container text-center">

        <form class="form-horizontal" name="forgotPasswordForm" novalidate>
            <div class="form-group" ng-class="{'has-error' : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine}">
                <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                    <span class="glyphicon glyphicon-envelope"></span>
                </div>
                <input type="email" name="email"
                       class="form-control input-lg input-round text-center"
                       placeholder="Email" required>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="btn btn-lg btn-block btn-primary btn-round" ng-disabled="forgotPasswordForm.$invalid">Reset</a>
            </div>
        </form>

    </div>
</div>