    <div class="page ng-scope">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Danh sách học viên của khóa học - <span class="myTitle">{{getLocalTitle()}}</span></strong></div>
            <div class="panel-body">
                <div class="col-md-12 addNew">
                    <a ui-sref="app.addUser"><button type="button" class="btn btn-primary">Add New</button></a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="bg-dark">
                        <th class="text-center">#</th>
                        <th class="text-center">Họ tên</th>
                        <th class="text-center">Ngày sinh</th>
                        <th class="text-center">Điện thoại</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Quyền</th>
                        <th class="text-center">Địa chỉ</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in datas">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">{{user.fullName}}</td>
                        <td class="text-center">{{user.birthDay}}</td>
                        <td class="text-center">{{user.phone}}</td>
                        <td class="text-center">{{user.email}}</td>
                        <td class="text-center">{{user.role}}</td>
                        <td class="text-center">{{user.address}}</td>
                        <th class="text-center">
                            <a href="javascript:;" class="btn-icon bg-success" ng-click="open(datas, $index, user.id)"><i class="glyphicon glyphicon-trash"></i></a>
                            <a ui-sref="app.updateUserCourse" class="btn-icon bg-success"><i class="glyphicon glyphicon-edit"></i></a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Xác thực</h3>
    </div>
    <div class="modal-body">
        Bạn có chắc chắn muốn xóa bản ghi này ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok('users')">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>