@media (max-width: 1200px) {
  .mocWeb .contentEx {
    top: 85px !important;
    left: 35px !important;
    width: 220px !important;
    height: 210px !important;
  }
}
@media (max-width: 1024px) {
  .mocWeb .contentEx {
    top: 80px !important;
    left: 40px !important;
    width: 220px !important;
    height: 210px !important;
  }
}
@media (max-width: 992px) {
  .mocWeb > img {
    max-height: 400px;
  }
  .mocWeb .contentEx {
    top: 100px !important;
    width: 220px !important;
    height: 210px !important;
  }
}
@media (max-width: 768px) {
  .mocWeb > img {
    min-height: 295px;
  }
  .mocWeb .contentEx {
    top: 90px !important;
    left: 50px !important;
    width: 360px !important;
    height: 255px !important;
  }
}
.nav-right-header li a {
  padding: 0;
  text-align: center;
}
.nav-right-header li a button {
  background: transparent;
  border: 1px solid #80bd01;
  color: #80bd01;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 10px 0;
}
.nav-right-header li a button:hover {
  background: #80bd01;
  border-color: #4a7301;
  color: #fff;
}
@media (max-width: 992px) {
  .navbar-brand {
    font-size: 16px;
  }
}
#nav-header {
  background: rgba(0, 0, 0, 0.7);
  border-color: #76BE6C;
  height: 51px;
  width: 100%;
}
#nav-header a {
  color: #80bd01;
}
#nav-header a:hover {
  color: #B4EB43;
}
#nav-header .dropdown a:hover {
  color: #fff;
}
#nav-header .navbar-brand {
  color: #fff;
}
#nav-header .menu-for-mobile {
  background: rgba(0, 0, 0, 0.7);
  margin: 0px -15px !important;
}
#nav-header #navbar-mobile {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-y: inherit !important;
}
#nav-header #navbar-mobile .dropdown-menu a {
  color: #fff !important;
}
#nav-header #navbar-mobile .regCourses {
  background: #80bd01 !important;
  border: 1px solid #80bd01;
  color: #fff !important;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 10px 0;
}
#bs-example-navbar-collapse-1 ul > li > a {
  color: #A0D468;
}
#bs-example-navbar-collapse-1 ul > li.active {
  background: transparent;
}
#bs-example-navbar-collapse-1 ul > li.active a {
  background: transparent;
  color: #fff;
}
#bs-example-navbar-collapse-1 ul li:hover a {
  color: #fff;
}
#bs-example-navbar-collapse-1 ul li.dropdown ul li a {
  color: #fff;
}
.mocWeb {
  position: relative;
}
.mocWeb > img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.mocWeb .contentEx {
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 50px;
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.mocWeb .contentEx .listShow .media {
  margin: 10px 0 0 0;
}
.mocWeb .contentEx .listShow .media p {
  margin: 0;
}
.mocMobile {
  text-align: center;
  position: relative;
}
.title-content {
  margin: 15px 0;
}
#courses .courses h4 {
  margin: 10px 0 5px 0;
}
.nav-title {
  font-size: 16px;
  font-weight: bold;
  color: #E0E0E0;
  margin-bottom: 5px;
}
.footer-item-1 {
  min-height: 160px;
}
.mocMobile-one {
  position: relative;
}
.mocMobile-one .contentExMobile {
  position: absolute;
  top: 58px;
  width: 142px;
  color: #fff;
  left: 20px;
  font-size: 10px;
}
.mocMobile-one .contentExMobile .mocweb-head {
  height: 30px;
  background: #000;
  padding: 5px;
}
.mocMobile-one .contentExMobile .mocweb-head strong {
  line-height: 20px;
}
.mocMobile-one .contentExMobile .listShow {
  height: 180px;
  overflow: hidden;
}
.mocMobile-one .contentExMobile form {
  padding: 5px 5px 0px 5px;
}
.mocMobile-one .contentExMobile img {
  width: 30px;
  height: 30px;
}
.mocMobile-one .contentExMobile .media {
  padding: 5px;
  margin-top: 2px;
}
.mocMobile-one .contentExMobile .media:hover {
  background: rgba(0, 0, 0, 0.2);
}
.mocMobile-one .contentExMobile textarea {
  margin-bottom: 10px;
  font-size: 9px;
  padding: 5px;
}
.mocMobile-one p {
  margin: 0;
}
.mocMobile-one input {
  margin-bottom: 10px;
  font-size: 10px;
  height: 28px;
  opacity: 0.8;
}
.mocMobile-one input:active,
.mocMobile-one input:hover,
.mocMobile-one input:focus {
  opacity: 1;
}
.mocWeb {
  animation: mocWebAnimate 2.5s;
  -webkit-animation: mocWebAnimate 2.5s;
  -moz-animation: mocWebAnimate 2.5s;
  -ms-animation: mocWebAnimate 2.5s;
  left: 0;
}
@keyframes mocWebAnimate {
  0% {
    transform: translate3d(-700px, 0, 0);
    -webkit-transform: translate3d(-700px, 0, 0);
    -moz-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
}
@-webkit-keyframes mocWebAnimate {
  0% {
    transform: translate3d(-700px, 0, 0);
    -webkit-transform: translate3d(-700px, 0, 0);
    -moz-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes mocWebAnimate {
  0% {
    transform: translate3d(-700px, 0, 0);
    -webkit-transform: translate3d(-700px, 0, 0);
    -moz-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes mocWebAnimate {
  0% {
    transform: translate3d(-700px, 0, 0);
    -webkit-transform: translate3d(-700px, 0, 0);
    -moz-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}
/*
.mocMobile-one {
  @animation-time: 1s;
  animation: mocWebMobileAnimate @animation-time;
  -webkit-animation: mocWebMobileAnimate @animation-time;
  -moz-animation: mocWebMobileAnimate @animation-time;
  -ms-animation: mocWebMobileAnimate @animation-time;
  left: 0;
}
@-webkit-keyframes mocWebMobileAnimate {
  0% {
    @scale-x: 0.8;
    @scale-y: 0.8;
    @scale-z: 0.8;
    transform: scale3d(@scale-x,@scale-y,@scale-z);
    -webkit-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -moz-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -ms-transform: scale3d(@scale-x,@scale-y,@scale-z);
  }
  25% {
    @scale-x: 1.2;
    @scale-y: 1.2;
    @scale-z: 1.2;
    transform: scale3d(@scale-x,@scale-y,@scale-z);
    -webkit-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -moz-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -ms-transform: scale3d(@scale-x,@scale-y,@scale-z);
  }
  50% {
    @scale-x: 1;
    @scale-y: 1;
    @scale-z: 1;
    transform: scale3d(@scale-x,@scale-y,@scale-z);
    -webkit-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -moz-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -ms-transform: scale3d(@scale-x,@scale-y,@scale-z);
  }
  75% {
    @scale-x: 1.2;
    @scale-y: 1.2;
    @scale-z: 1.2;
    transform: scale3d(@scale-x,@scale-y,@scale-z);
    -webkit-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -moz-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -ms-transform: scale3d(@scale-x,@scale-y,@scale-z);
  }
  100% {
    @scale-x: 1;
    @scale-y: 1;
    @scale-z: 1;
    transform: scale3d(@scale-x,@scale-y,@scale-z);
    -webkit-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -moz-transform: scale3d(@scale-x,@scale-y,@scale-z);
    -ms-transform: scale3d(@scale-x,@scale-y,@scale-z);
  }
}*/
.footer {
  background: url("../images/bg-footer.jpg");
  margin-top: 40px;
}
