<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Cập nhật hóa đơn - <span class="myTitle">{{getLocalTitle()}}</span></strong></div>
    <div class="panel-body">
        <form name="updateInvoice" role="form" class="ng-pristine ng-valid" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" >
                        <label for="inputCollected">Đã thu</label>
                        <input type="text" class="form-control" id="inputCollected" placeholder="Đã thu" ng-model="datas.collected">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date">Ngày thu</label>
                        <input type="text" class="form-control" id="date" placeholder="Ngày thu" ng-model="datas.dateBill">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <button type="submit"
                    class="btn btn-success btn-w-md"
                    ng-disabled="updateInvoice.$invalid" ng-click="update(datas)">Update</button>
            </div>
        </form>
    </div>
</section>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Message</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok('back')">OK</button>
    </div>
</script>