<div class="page">
	<div class="container">
		<div class="row admission">
			<div class="col-md-8">
				<h3>Tuyển sinh các khóa học sau:</h3>
				<table class="table table-bordered table-striped">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th class="text-center">Khóa học</th>
			          <th class="text-center">Nội dung chính</th>
			          <th class="text-center">Ngày khai giảng</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>1</td>
			          <td>Node js</td>
			          <td>
			          	- server nodejs </br>
			          	- socket id
			          </td>
			          <td>20/11/2014</td>
			        </tr>
			        <tr>
			          <td>2</td>
			          <td>Angular js</td>
			          <td>
			          	- Fontend angular</br>
			          	- factory</br>
			          	- directive</br>
			          	- REST API
			          </td>
			          <td>21/11/2014</td>
			        </tr>
			      </tbody>
			    </table>
			</div>
			<div class="col-md-4">
				<h3>CÔNG NGHỆ</h3>
				<div class="project">
					<h4>Node js</h4>
					<img src="images/node-courses.png" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
				<div class="project">
					<h4>Angular</h4>
					<img src="images/angular.jpg" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
				<div class="project">
					<h4>PhoneGap</h4>
					<img src="images/angular.jpg" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
			</div>
		</div>
	</div>
</div>