<div class="page">
	<div class="container">
		<div class="row job">
			<div class="col-md-8">
				<ol>
					<li>
						<h4>Lập trình Angular JS</h4>
						<ul>
							<li>
								<b>Mô tả công việc: </b>
								<p>
									<ul>
										<li>- Họp với các thành viên trong team & bên Nhật để thảo luận cách thức develop </li>
										<li>- Tạo bản đặc tả, bản thiết kế của project mới </li>
									</ul>
								</p>
							</li>
							<li>
								<b>Yêu cầu:</b>
								<p>
									<ul>
										<li>- Ajax,Javascript</li>
										<li>- Có tinh thần trách nhiệm trong công việc</li>
									</ul>
								</p>
							</li>
							<li>
								<b>Chế độ và thưởng:</b>
								<p>
									<ul>
										<li>- Theo luật lao động Việt Nam (bảo hiểm xã hội, bảo hiểm y tế, trợ cấp thất nghiệp…) </li>
										<li>- Tổ chức event mỗi cuối tháng (party, hoạt động khác…) </li>
										<li>- Du lịch mỗi năm 1 lần.  </li>
									</ul>
								</p>
							</li>
							<li>
								<b>Thông tin liên hệ:</b>
								<p>
									<ul>
										<li>131 Thái Thinh</li>
										<li>vsoft@gmail.com</li>
									</ul>
								</p>
							</li>
							<li>
								<b>Han nop ho so:</b> 30/11/2014
							</li>
						</ul>
					</li>
					<li>
						<h4>Lập trình Node JS</h4>
						<ul>
							<li>
								<b>Mô tả công việc: </b>
								<p>
									<ul>
										<li>- Họp với các thành viên trong team & bên Nhật để thảo luận cách thức develop </li>
										<li>- Tạo bản đặc tả, bản thiết kế của project mới </li>
									</ul>
								</p>
							</li>
							<li>
								<b>Yêu cầu:</b>
								<p>
									<ul>
										<li>- Ajax,Javascript</li>
										<li>- Có tinh thần trách nhiệm trong công việc</li>
									</ul>
								</p>
							</li>
							<li>
								<b>Chế độ và thưởng:</b>
								<p>
									<ul>
										<li>- Theo luật lao động Việt Nam (bảo hiểm xã hội, bảo hiểm y tế, trợ cấp thất nghiệp…) </li>
										<li>- Tổ chức event mỗi cuối tháng (party, hoạt động khác…) </li>
										<li>- Du lịch mỗi năm 1 lần.  </li>
									</ul>
								</p>
							</li>
						</ul>
					</li>
				</ol>
				<ul>
					<li>
						<h4>Chế độ chung</h4>
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h3>DỰ ÁN</h3>
				<div class="project">
					<h4>Node js</h4>
					<img src="images/node-courses.png" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
				<div class="project">
					<h4>Angular</h4>
					<img src="images/angular.jpg" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
				<div class="project">
					<h4>PhoneGap</h4>
					<img src="images/angular.jpg" class="img-responsive" alt="">
					<p>
						Node.js được tạo bởi Ryan Dahl từ năm 2009, và phát triển dưới sự bảo trợ của Joyent
					</p>
					<p>
						Mục tiêu ban đầu của Dahl là làm cho trang web có khả năng push như trong một số ứng dụng web như Gmail. Sau khi thử với vài ngôn ngữ Dahl chọn Javascript vì một API Nhập/Xuất không đầy đủ. Điều này cho phép anh có thể định nghĩa một quy ước Nhập/Xuất điểu khiển theo sự kiện, non-blocking
					</p>
				</div>
			</div>
		</div>
	</div>
</div>