
<h3>Xưởng lập trình đem lại cho bạn ...</h3>

<span class="badge badge-danger title-content">Công nghệ</span>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/next-previous-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Node.js & Javascript</h4>
                <p>Học Javascript một lần bạn sẽ làm mọi thứ từ Server - Client.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/clock-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Realtime - Thời gian thực</h4>
                <p>Với Node.js bạn sẽ triển khai dễ dàng hệ thống thời gian thực.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/cloud-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">NoSQL - BigData</h4>
                <p>Bạn sẽ học NoSQL để thao tác với dữ liệu lớn trong tíc tắc.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">


        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/power-2-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">PhoneGap - Đa nền tảng</h4>
                <p>Với Node.js bạn lập trình được ứng dụng iOS, Android, BB...</p>
            </div>
        </div>
    </div>
</div>

<span class="badge badge-danger title-content">Làm được</span>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/share-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Mạng xã hội</h4>
                <p>Bạn đã từng suy nghĩ không làm được Mạng xã hội, thì bây giờ hoàn toàn có thể.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/cart-add-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Thương mại điện tử</h4>
                <p>Bạn có thể xây dựng trang TMĐT chuyên sâu với thời gian rất ngắn.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/iphone-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Ứng dụng Mobile</h4>
                <p>Phát triển ứng dụng iOS, Android, BB...với 1 lần code.</p>
            </div>
        </div>
    </div>



    <div class="col-md-4 col-sm-6">


        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/node-flat/analytics-8-icon.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Các hệ thống khác</h4>
                <p>Với Node.js bạn hoàn toàn xây dựng & mở rộng dễ dàng.</p>
            </div>
        </div>
    </div>
</div>