
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a ui-sref="app.board"> <i class="fa fa-code"></i><span data-i18n="Board Code"></span> </a></li>
        <li>
            <a ui-sref="app.courses"><i class="fa fa-mortar-board"></i><span data-i18n="Courses"></span></a>
        </li>
        <li ><!-- ng-show="isManager()" -->
            <a href="#/manager"><i class="fa fa-unlock-alt"></i><span data-i18n="Manager"></span></a>
            <ul>
                <li><a ui-sref="app.managerUser"><i class="fa fa-angle-right"></i><span data-i18n="Users"></span></a></li>
                <li><a ui-sref="app.managerCourse"><i class="fa fa-angle-right"></i><span data-i18n="Courses"></span></a></li>
                <!-- <li><a ui-sref="app.managerSession"><i class="fa fa-angle-right"></i><span data-i18n="Sessions of course"></span></a></li> -->
                <li><a ui-sref="app.managerInvoice"><i class="fa fa-angle-right"></i><span data-i18n="Invoices"></span></a></li>
            </ul>
        </li>
    </ul>
</div>